@model HomeViewModel
<div class="col-md-3 mb-4">
    <div class="card">
        <div class="d-grid gap-2">
            <button class="btn btn-default dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                @foreach (var category in Model.Categories!.Where(X => X.ParentCategory == null))
                {
                    <li>
                        <form asp-controller="Home" asp-action="Index" method="get" class="m-0 p-0">
                            <input type="hidden" asp-for="Category" value="@category.Name" />
                            <input type="submit" value="@category.Name" class="dropdown-item" />
                        </form>
                        @if (category.Subcategories!.Any())
                        {
                                <ul class="list-unstyled subcategories-list ms-3 mb-2">
                                @foreach (var subcategory in category.Subcategories!)
                                {
                                    <li>
                                        <form asp-controller="Home" asp-action="Index" method="get">
                                            <input type="hidden" asp-for="Category" value="@category.Name" />
                                            <input type="hidden" asp-for="SubCategory" value="@subcategory.Name" />
                                                <input type="submit" value="@subcategory.Name" class="dropdown-item" />
                                        </form>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>