@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "A blogging website";
    ViewData["Keywords"] = "blog travel sports programming photography";
    await Html.RenderPartialAsync("_Navbar");
    await Html.RenderPartialAsync("_HomeHeader");
}
<link href="~/css/styles.css" rel="stylesheet" />
<div class="container-fluid px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-start">
                <ul>
                    @foreach (var category in Model.Categories!.Where(X => X.ParentCategory == null))
                    {
                        <li>
                            <form asp-controller="Home" asp-action="Index" method="get" class="m-1">
                                <input type="hidden" asp-for="Category" value="@category.Name" />
                                <input type="submit" value="@category.Name" class="btn btn-default btn-sm" />
                            </form>
                            @if (category.Subcategories!.Any())
                            {
                                <ul>
                                    @foreach (var subcategory in category.Subcategories!)
                                    {
                                        <li>
                                            <form asp-controller="Home" asp-action="Index" method="get">
                                                <input type="hidden" asp-for="Category" value="@category.Name" />
                                                <input type="hidden" asp-for="SubCategory" value="@subcategory.Name" />
                                                <input type="submit" value="@subcategory.Name" class="btn btn-default btn-sm" />
                                            </form>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 ">
            <form asp-controller="Home" asp-action="Index" class="form-horizontal m-auto transparent-form">
                <div class="input-group input-group-sm">
                    <input asp-for="StartDate" type="date" class="date-picker form-control"/>
                    <span class="input-group-text"><b><i class="fa-solid fa-arrow-right"></i></b></span>
                    <input asp-for="EndDate" type="date" class="date-picker form-control"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa-solid fa-search"></i></button> 
                    </div>
                </div>
            </form>
            <hr />
            @foreach (var post in Model.Posts!)
            {
                <div class="post-preview">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 d-flex justify-content-center flex-column">
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-category="@Model.Category" asp-route-subcategory="@Model.SubCategory">
                                <h2 class="post-title">@post.Title</h2>
                                <h4 class="post-subtitle">@post.ShortDescription</h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a asp-action="Profile" asp-controller="Home" asp-route-id="@post.ApplicationUser!.Id">@post.Author</a>
                                on @post.PublicationDate.ToString("dd-MM-yyyy")
                            </p>
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-category="@Model.Category" asp-route-subcategory="@Model.SubCategory">Read More...</a>
                            @if (post.Document != null)
                            {
                                <form method="post" asp-action="Download" asp-controller="Home" asp-route-id="@post.Document.IDBR_Document">
                                    <input type="submit" class="btn btn-primary" value="Download" />
                                </form>
                            }
                        </div>
                        <div class="col-lg-5 col-md-12 d-flex justify-content-end flex-column">
                            @{
                                string Image = post.Image == null ? "default_image.png" : post.Image;
                            }
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-subcategory="@Model.SubCategory" asp-route-category="@Model.Category">
                                <img class="img-fluid d-none d-lg-block" src="~/images/@Image" />
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
            }
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a aria-label="previous" class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                               asp-route-subcategory="@Model.SubCategory" asp-route-start="@Model.StartDate" asp-route-end="@Model.EndDate" asp-route-page="@(Model.PageNumber-1)">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    }
                    @foreach (var page in Model.Pages!)
                    {
                        if (page == -1)
                        {
                            <span class="btn btn-outline-secondary">...</span>
                        }
                        else
                        {
                            string active = page == Model.PageNumber ? "active" : "";
                            <li class="page-item @active">
                                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                                   asp-route-subcategory="@Model.SubCategory" asp-route-start="@Model.StartDate.ToString("MMMM d, yyyy hh:mm tt")" asp-route-end="@Model.EndDate.ToString("MMMM d, yyyy hh:mm tt")" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }
                    }
                    @if (Model.NextPage)
                    {
                        <li class="page-item">
                            <a class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                               asp-route-subcategory="@Model.SubCategory" asp-route-start="@Model.StartDate" asp-route-end="@Model.EndDate" asp-route-page="@(Model.PageNumber+1)"><i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}