@model BeReal.ViewModels.HomeViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "A blogging website";
    ViewData["Keywords"] = "blog travel sports programming photography";
    string imageUrl = "";
    if (Model.ImageUrl != null)
    {
        imageUrl = "/images/" + Model.ImageUrl;
    }
    else
    {
        imageUrl = "/blog/assets/img/home-bg.jpg";
    }
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('@imageUrl')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.ShortDescription</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 ">
                <form asp-controller="Home" asp-action="Index" asp-route-search="@Model.Search" class="d-none d-md-inline-block form-inline">
                    <div class="input-group mb-3">
                        <input asp-for="Search" type="text" placeholder="Search for a post..." />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </div>
                </form>

                <form>
                    <input asp-for="StartDate" asp-route-startdate="@Model.StartDate" />
                    <input asp-for="EndDate" asp-route-enddate="@Model.EndDate" />
                    <select asp-for="Category">
                        <option value="Programming" asp-route-category="Programming">Programming</option>
                        <option value="Sports" asp-route-category="Sporst">Sports</option>
                        <option value="Lifestyle" asp-route-category="Lifestyle">Lifestyle</option>
                    </select>

                </form>
            @foreach (var post in Model.Posts!)
            {
                <div class="post-preview">
                    <div class="row">
                        <div class="col-7 d-flex justify-content-center flex-column">
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug">
                                <h2 class="post-title">@post.Title</h2>
                                <h4 class="post-subtitle">@post.ShortDescription</h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">@post.Author</a>
                                on @post.publicationDate.ToShortDateString()
                            </p>
                        </div>
                        <div class="col-5 d-flex justify-content-end flex-column">
                            @if (post.Image == null)
                            {
                                <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug">
                                    <img class="img-fluid" src="~/images/default_image.png" style="object-fit:cover; height:100%; width:100%" />
                                </a>
                            }
                            else
                            {
                                <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug">
                                    <img class="img-fluid" src="~/images/@post.Image" style="object-fit:cover; height:100%; width:100%" />
                                </a>
                            }
                        </div>
                    </div>
                    
                </div>
                <hr class="my-4" />
            }
            Page @(Model?.Posts.PageCount < Model?.Posts.PageNumber ? 0 : Model!.Posts.PageNumber) of @Model.Posts.PageCount
            @Html.PagedListPager(Model.Posts, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                     new PagedListRenderOptions()
            {
                ContainerDivClasses = new List<string> { "d-flex justify-content-start mb-4" },
                UlElementClasses = new List<string> { "pagination" },
                LiElementClasses = new List<string> { "btn btn-primary mx-1 text-uppercase" },
                ActiveLiElementClass = "active",
            })
        </div>
    </div>
</div>


