@model BeReal.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "A blogging website";
    ViewData["Keywords"] = "blog travel sports programming photography";
    string imageUrl = "";
    if (Model.ImageUrl != null)
    {
        imageUrl = "/images/" + Model.ImageUrl;
    }
    else
    {
        imageUrl = "/blog/assets/img/home-bg.jpg";
    }
}
@{
    await Html.RenderPartialAsync("_Navbar");
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('@imageUrl')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.ShortDescription</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 ">
                <form asp-controller="Home" asp-action="Index" class="form-horizontal">
                    <div class="input-group mb-3">
                        <input asp-for="Search" type="text" placeholder="Search for a post..." class="form-control"/>
                    </div>
                </form>
            <form asp-controller="Home" asp-action="Index" class="form-horizontal">
                <div class="input-group input-group-sm">
                    <input asp-for="StartDate" class="date-picker form-control" placeholder="Start date" />
                    <input asp-for="EndDate" class="date-picker form-control" placeholder="End date" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Search</button>
                    </div>
                </div>
            </form>
            <form asp-controller="Home" asp-action="Index">
                <input type="submit" value="All" class="btn btn-default"/>
                <input type="submit" value="Programming" class="btn btn-default"/>
                <input type="submit" value="Travel" class="btn btn-default" />
                <input type="submit" value="Sports" class="btn btn-default" />
                <input type="submit" value="Lifestyle" class="btn btn-default" />
            </form>
            @foreach (var post in Model.Posts!)
            {
                <div class="post-preview">
                    <div class="row">
                        <div class="col-7 d-flex justify-content-center flex-column">
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug">
                                <h2 class="post-title">@post.Title</h2>
                                <h4 class="post-subtitle">@post.ShortDescription</h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a asp-action="Profile" asp-controller="Home" asp-route-id="@post.User!.Id">@post.Author</a>
                                on @post.publicationDate.ToShortDateString()
                            </p>
                            @if (post.Document != null)
                            {
                                <form method="post" asp-action="Download" asp-controller="Post" asp-route-id="@post.Document.Id">
                                    <input type="submit" class="btn btn-primary" value="Download" />
                                </form>
                            }
                        </div>
                        <div class="col-5 d-flex justify-content-end flex-column">
                            @{
                                string Image = post.Image == null ? "default_image.png" : post.Image;
                            }
                            <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug">
                                <img class="img-fluid" src="~/images/@Image" style="object-fit:cover; height:100%; width:100%" />
                            </a>
                            
                        </div>
                    </div>
                    
                </div>
                <hr class="my-4" />
            }
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a aria-label="previous" class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                               asp-route-start="@Model.StartDate" asp-route-end="@Model.EndDate" asp-route-page="@(Model.PageNumber-1)">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    }
                    @foreach (var page in Model.Pages!)
                    {
                        if (page == -1)
                        {
                            <span class="btn btn-outline-secondary">
                            ...
                            </span>
                        }
                        else
                        {
                            string active = page == Model.PageNumber ? "active" : "";
                            <li class="page-item @active">
                                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                                   asp-route-start="@Model.StartDate" asp-route-end="@Model.EndDate" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }
                    }
                    @if (Model.NextPage)
                    {
                        <li class="page-item">
                            <a class="btn btn-secondary" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"
                               asp-route-start="@Model.StartDate" asp-route-end="@Model.EndDate" asp-route-page="@(Model.PageNumber+1)"><i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}

