@model UserViewModel
@inject IUsersOperations userOperations;
@{
    ViewData["Title"] = "Profile"; 
    var authUser = await userOperations.GetLoggedUser(User);
    await Html.RenderPartialAsync("_Navbar");
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/blog/assets/img/post-sample-image.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.FirstName @Model.LastName</h1>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        @if (authUser!.UserName == Model.Username)
                        {
                            <a asp-action="EditProfile" asp-controller="Profile" asp-area="Admin" asp-route-id="@authUser!.Id" class="btn btn-primary">Edit Profile</a>
                            <a asp-action="ResetPassword" asp-controller="Profile" asp-area="Admin" asp-route-id="@authUser!.Id" class="btn btn-secondary">Reset Password</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>User Profile</h3>
                <div class="row align-content-center">
                    @foreach (var post in Model.Posts!)
                    {
                        <div class="col-lg-4 col-md-3 mb-4">
                            <div class="card border-0 shadow">
                                <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-category="@Model.Category!" asp-route-subcategory="@Model.SubCategory">
                                    <img class="card-img-top" src="~/images/@(post.Image ?? "default_image.png")" style="object-fit:cover; height:100%; width:100%" />
                                </a>
                                <div class="card-body">
                                    <div class="row text-center" style="margin: 0px auto 10px 0px">
                                        <h5 class="card-title text-center w-100"><a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-category="@Model.Category!" asp-route-subcategory="@Model.SubCategory">@post.Title</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@{
    await Html.RenderPartialAsync("_Footer");
}