@model BeReal.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Profile";
    var authUser = new ApplicationUser();
    authUser = userManager.Users.FirstOrDefault(X => X.UserName == User.Identity!.Name);
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block" style="background-image: url('/images/img_04-06-2024-16-21-59.jpg')"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="card text-center">
                            <div class="card-header">
                                User Profile
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                                <p class="card-text">This user goes by the name <b>@Model.Username</b> and has posted <b>@Model.NumberPosts</b> times.</p>
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    @if (authUser!.UserName == Model.Username)
                                    {
                                        <p class="card-text">Email: <b>@Model.Email</b></p>
                                        <p class="card-text">Role: <b>@Model.Role</b></p>
                                    }
                                }
                            </div>
                            <div class="card-footer text-muted">
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    @if (authUser!.UserName == Model.Username)
                                    {
                                        <a asp-action="EditProfile" asp-controller="User" asp-area="Admin" asp-route-id="@authUser!.Id" class="btn btn-primary">Edit Profile</a>
                                        <a asp-action="ResetUserPassword" asp-controller="User" asp-area="Admin" asp-route-id="@authUser!.Id" class="btn btn-secondary">Reset Password</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

