@model BlogPostViewModel
@inject IUsersOperations userOperations;
@inject ICommentsOperations commentsOperations;
@{
    var authUser = await userOperations.GetLoggedUser(User);
}
<link href="~/css/styles.css" rel="stylesheet" />
<h3 class="mb-2 mt-3"> 
    @{
        string number = Model.Post!.Comments!.Count() != 1 ? $"{Model.Post.Comments!.Count()} Comments" : "1 Comment";
    }
    @number
</h3>
@if (User.Identity!.IsAuthenticated)
{
    <div class="mb-4">
        <form asp-controller="Blog" asp-action="Comment">
            <input asp-for="Post!.IDBR_Post" readonly hidden />
            <textarea asp-for="Comment!.Message" class="form-control" rows="3" required></textarea>
            <button class="btn btn-outline-primary post-btn" type="submit">Comment</button>
        </form>
    </div>
}
else
{
    <a class="btn btn-default" asp-action="Index" asp-controller="Login" asp-area="Admin" asp-route-url="@Model.ReturnUrl">Login to comment</a>
}
<ul class="comment-list comment-top" list="@Model.Post.Comments" count="0">
    @foreach (var comment in Model.Post.Comments!.Where(comment => comment.ParentComment is null).OrderByDescending(comment => comment.Created))
    {
        <li class="comment mt-2 mb-2 p-2" style="background-color: #f2f2f2;">
            <div class="comment-body">
                <div class="comment-content">
                    <div class="d-flex justify-content-start flex-wrap">
                        <h4 class="commenter-name">@comment.ApplicationUser!.UserName <span style="font-weight:normal; font-size:1.2rem">@commentsOperations.TimeAgo(comment)</span></h4>
                    </div>
                    <p class="comment-message" style="margin:20px; word-wrap: break-word;">@comment.Message</p>
                </div>
                <div class="d-flex justify-content-between">
                @if (User.Identity.IsAuthenticated) {
                    <a aria-expanded="false" data-target="@($"#replyComment{comment.IDBR_Comment}")" data-toggle="collapse" class="btn btn-default edit-btn"><i class="fa-solid fa-reply"></i></a>
                    @if (authUser!.UserName == comment.ApplicationUser!.UserName || User.IsInRole("Admin")) {
                        <div class="d-flex justify-content-end">
                            <a aria-expanded="false" data-target="@($"#editComment{comment.IDBR_Comment}")" data-toggle="collapse" class="btn btn-default edit-btn"><i class="fa-solid fa-edit"></i></a>
                            <form method="post" asp-action="DeleteComment" asp-controller="Blog" asp-route-id="@comment.IDBR_Comment" asp-route-slug="@Model.Post.Slug">
                                <button type="submit" class="btn btn-default" style="color:orangered"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    }
                }
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="collapse" id="@($"replyComment{comment.IDBR_Comment}")">
                    <form asp-controller="Blog" asp-action="Comment">
                        <input asp-for="Post!.IDBR_Post" readonly hidden />
                        <input asp-for="Comment!.ParentComment!.IDBR_Comment" value="@comment.IDBR_Comment" readonly hidden />
                        <div class="form-group">
                            <label>Write a reply</label>
                            <textarea asp-for="Comment!.Message" class="form-control" rows="3"></textarea>
                            <button class="btn btn-outline-primary post-btn" type="submit">Comment</button>
                        </div>
                    </form>
                </div>
                @if (authUser!.UserName == comment.ApplicationUser!.UserName || User.IsInRole("Admin"))
                {
                    <div class="collapse" id="@($"editComment{comment.IDBR_Comment}")">
                        <form asp-controller="Blog" asp-action="EditComment">
                            <input asp-for="Post!.IDBR_Post" readonly hidden />
                            <input asp-for="Comment!.IDBR_Comment" value="@comment.IDBR_Comment" readonly hidden />
                            <div class="form-group">
                                <label>Edit your comment</label>
                                <textarea asp-for="Comment!.Message" class="form-control" rows="3">@comment.Message</textarea>
                                <button class="btn btn-outline-primary post-btn" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                }
            }
            @if (comment.Replies!.Any())
            {
                <a aria-expanded="false" data-toggle="collapse" class="btn btn-default edit-btn" data-target="@($"#replies{comment.IDBR_Comment}")">View/Hide @comment.Replies!.Count replies</a>
            }
            <div class="collapse" id="@($"replies{comment.IDBR_Comment}")">
                <ul class="comment-list">
                    @foreach (var reply in comment.Replies!.OrderByDescending(comment => comment.Created))
                    {
                        <li class="comment mt-2 mb-2 p-2" style="background-color: #d4d4d4;">
                            <div class="comment-body">
                                <div class="comment-content">
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <h4 class="commenter-name">@reply.ApplicationUser!.UserName <span style="font-weight:normal; font-size:1.2rem">@commentsOperations.TimeAgo(reply)</span></h4>
                                    </div>
                                    <p class="comment-message" style="margin:20px; word-wrap: break-word;">@reply.Message</p>
                                </div>
                                @if (User.Identity.IsAuthenticated && (authUser!.UserName == reply.ApplicationUser!.UserName || User.IsInRole("Admin")))
                                {
                                    <div class="d-flex justify-content-end">
                                        <a aria-expanded="false" data-target="@($"#editReply{comment.IDBR_Comment}")" data-toggle="collapse" class="btn btn-default edit-btn"><i class="fa-solid fa-edit"></i></a>
                                        <form method="post" asp-action="DeleteComment" asp-controller="Blog" asp-route-id="@reply.IDBR_Comment" asp-route-slug="@Model.Post.Slug">
                                            <button type="submit" class="btn btn-default" style="color:orangered"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                    <div class="collapse" id="@($"editReply{comment.IDBR_Comment}")">
                                        <form asp-controller="Blog" asp-action="EditComment" method="post">
                                            <input asp-for="Comment!.IDBR_Comment" value="@reply.IDBR_Comment" readonly hidden />
                                            <input asp-for="Post!.IDBR_Post" readonly hidden />
                                            <input asp-for="Comment!.ParentComment!.IDBR_Comment" value="@comment.IDBR_Comment" readonly hidden />
                                            <div class="form-group">
                                                <label>Edit your comment</label>
                                                <textarea asp-for="Comment!.Message" class="form-control" rows="3">@comment.Message</textarea>
                                                <button class="btn btn-outline-primary post-btn" type="submit">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <hr>
    }
</ul>