@model BlogPostViewModel
@{
    var imageUrl = Model.Post!.Image == null ? "/blog/assets/img/post-bg.jpg" : Url.Action("GetImage", "Home", new { id = Model.Post.Image.IDBR_Document });
}
<header class="masthead" style="background-image: url('@imageUrl')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Post.Title</h1>
                    <h2 class="subheading">@Model.Post.ShortDescription</h2>
                    <span class="meta">
                        Posted by
                        <a asp-action="Profile" asp-controller="Home" asp-route-id="@Model.Post.ApplicationUser!.Id">@Model.Post.Author</a>
                        on @Model.Post.PublicationDate.ToString("dd-MM-yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>